@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* ::-webkit-scrollbar {
  display: none;
} */

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 991px;
  color: orange;
}
::-webkit-scrollbar-track {
  color: orange;
  background-color: none;
  cursor: pointer;
}
::-webkit-scrollbar {
  display: none;
  border-radius: 991px;
  cursor: pointer;
  width: 5px;
  transition: all 0.4s linear;
}

.scrollbar::-webkit-scrollbar {
  display: flex;
}
* {
  font-family: "Poppins", sans-serif;

  scroll-behavior: smooth;
  transition: all auto linear forwards;
  outline: none;
  user-select: none;
}

/* pruple color code */
#00010d
#010326
#2d0140
#660273
#a305a6

/* green  */
#f8f8f8
#337418
#5dd62c
#202020
#0f0f0f

.colorpicker {
  color: #c6c6c7;
}

:root {
  --background: #000000;
  --card: #016437;
  --primaryyelow: #fdd300;
  --primary: #6d001a;
  --text: #ffffff;
}

.grewUp {
  animation: grewUp 0.8s linear forwards;
}
@keyframes grewUp {
  0% {
    scale: 0;
  }
  60% {
    scale: 1.4;
  }

  100% {
    scale: 1;
  }
}
.grewUp1 {
  animation: grewUp1 0.5s linear forwards;
}
@keyframes grewUp1 {
  0% {
    scale: 0;
  }

  100% {
    scale: 1;
  }
}

@keyframes moveUp {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes moveLeft {
  from {
    transform: translatex(100%);
  }
  to {
    transform: translate(0);
  }
}

@keyframes enterFromLeft {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translate(0);
    opacity: 1;
  }
}
